.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outerContainer {
  display: grid;

  grid-template-columns: 33% 33% 33%;
}

.bossImages {
  max-width: 250px;
  max-height: 250px;
}

@media screen and (max-width: 600px) {
  .outerContainer {
    grid-template-columns: 1fr;
  }

  .bossImages {
    max-width: 80px;
    max-height: 80px;
  }
}

.quest-item {
  width: 250px;
  margin: 10px;
  /* padding: 10px; */

  border: #282c34 solid 1px;
  border-radius: 5px;
  text-align: center;
}

.quest-item h2,
h4 {
  padding: 10px;
}

.quest-item img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.relevent-quests {
  background-color: #282c34;
  color: #fff;

  padding: 5px;
  text-align: center;
}

.relevent-quests ul {
  margin: 0;
  padding: 0;
}

.quest {
  font-size: 1.2rem;
  font-weight: bold;
  border: #fff solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
